.navbar {
  height: 120px;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, #17202a, #273746, #273746);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.navbar nav {
  height: 100%;
}

.logoTitle h1 {
  font-family: Montserrat, Helvetica, sans-serif;
  background: linear-gradient(180deg, #f1c40f, #f1c40f, #f1c40f, #f9e79f);
  border-radius: 8px;
  padding: 14px 20px;
  text-shadow: 2px 2px 3px white;
  line-height: 30px;
  animation: floating 3s infinite linear;
  border: 3px solid black;
  transform-style: preserve-3d;
}

@keyframes floating {
  20% {
    transform: translateX(20%) translateY(7%) translateZ(8px);
  }
  40% {
    transform: translateX(-20%) translateY(10%) translateZ(12px) rotate(-5deg);
  }
  80% {
    transform: translateX(40%) translateY(2%) translateZ(2px) rotate(3deg);
  }
  100% {
    transform: translateX(0%) translateY(0%) translateZ(0px);
  }
}

h1:hover {
  animation: stopfloating 2s infinite linear;
}

@keyframes stopfloating {
  20% {
    transform: translateY(2%) translateZ(2px);
  }
  40% {
    transform: translateY(0%) translateZ(0px);
  }
}

.list {
  margin: 0 4vh 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
}

.list-item {
  margin: 0;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
}

.list-item a {
  color: white;
  height: 100%;
  width: 8vh;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin: 0 5px 0 5px;
}

.list-item a:hover,
.list-item a.active {
  background-color: #f8c471;
  color: white;
  text-shadow: 2px 2px 2px black;
  box-shadow: 2px 2px 4px black;
}

.list-item a:nth-child(2):hover,
.list-item a:nth-child(2).active {
  background-color: #f0b27a;
}

.list-item a:nth-child(3):hover,
.list-item a:nth-child(3).active {
  background-color: #f5b7b1;
}

#logoHenry {
  border: 4px solid black;
  box-shadow: 1px 1px 4px seashell;
  margin-left: 16px;
  filter: blur(0.75px);
}
